<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="UserDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <!--<select id="queryUserById" resultType="com.zpc.mybatis.pojo.User">-->
    <!--select * from tb_user where id = #{id}-->
    <!--</select>-->

    <!--使用别名-->
    <select id="getUserById" resultType="Service.user.User">
      select
       ID as ID,
       userName as userName,
       headPicSrc as headPicSrc,
       Email as Email
       from
       tbUser
       where ID = #{ID};
   </select>

    <select id="getUserByName" resultType="Service.user.User">
      select
       ID as ID,
       userName as userName,
       headPicSrc as headPicSrc,
       Email as Email
       from
       tbUser
       where userName = #{arg0};
   </select>


    <select id="getUserAll" resultType="Service.user.User">
        select * from tbUser;
    </select>

    <!--插入数据-->
    <insert id="insertUser" parameterType="Service.user.User">
        INSERT INTO tbUser (
        ID,
        userName,
        headPicSrc,
        Email
        )
        VALUES
        (
        #{ID},
        #{userName},
        #{headPicSrc},
        #{Email}
        );
    </insert>

    <update id="updateUser" parameterType="Service.user.User">
        UPDATE tbUser
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">userName = #{userName},</if>
            <if test="headPicSrc!=null">headPicSrc = #{headPicSrc},</if>
            <if test="Email!=null">Email = #{Email}</if>
        </trim>
        WHERE
        (ID = #{ID});
    </update>

    <delete id="deleteUser" >
        delete from tbUser where ID=#{ID}
    </delete>
</mapper>